-<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Shopping</title>

	<base href="/">

	<!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-confirm/css/angular-confirm.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href="/app/css/bootstrap.css" rel="stylesheet">
    <link href="/app/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/app/css/style.css" rel="stylesheet">
    <link href="/app/css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
    <link href="/app/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/app/css/cloud-zoom.css" rel="stylesheet">
    <!-- endinject -->
    <!-- endbuild -->

</head>
<body ng-cloak ng-controller="MainController">
    <div flash-message="5000"></div>
    <div ui-view="header"></div>

    <div ui-view></div>
    
    <div ui-view="footer"></div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-loader/angular-loader.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-environment/dist/angular-environment.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="bower_components/moment-timezone/builds/moment-timezone-with-data-2012-2022.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-confirm/js/angular-confirm.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

	<!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/app/js/app.module.js"></script>
    <script src="/app/js/auth/auth.module.js"></script>
    <script src="/app/js/core/core.module.js"></script>
    <script src="/app/js/home/home.module.js"></script>

    <script src="/app/js/auth/auth.resource.js"></script>
    <script src="/app/js/auth/auth.route.js"></script>
    <script src="/app/js/auth/auth.service.js"></script>
    <script src="/app/js/auth/login.controller.js"></script>

    <script src="/app/js/core/auth.interceptor.js"></script>
    <script src="/app/js/core/core.config.js"></script>
    <script src="/app/js/core/core.constant.js"></script>
    <script src="/app/js/core/core.controller.js"></script>
    <script src="/app/js/core/core.route.js"></script>
    <script src="/app/js/core/exception.service.js"></script>
    <script src="/app/js/core/helper.service.js"></script>

    <script src="/app/js/home/home.resource.js"></script>
    <script src="/app/js/home/home.route.js"></script>
    <script src="/app/js/home/home.service.js"></script>
    <script src="/app/js/home/home.controller.js"></script>

    <!-- <script src="/app/libs/main/main.min.js"></script> -->

    <!-- endinject -->



</html>