<header>
  <div class="headerstrip">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="/" class="logo pull-left"><img src="img/logo.png" alt="SimpleOne" title="SimpleOne"></a>
          <!-- Top Nav Start -->
          <div class="pull-left">
            <div class="navbar" id="topnav">
              <div class="navbar-inner">
                <ul class="nav" >
                  <li><a class="home active" href="/">Home</a>
                  <li>
                  <li><a class="shoppingcart" href="/shopping-cart">Shopping Cart</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Top Nav End -->

          <div class="pull-right">
            <div class="navbar" id="topnav">
              <div class="navbar-inner">
                <ul class="nav" >
                  <li><a class="home active" href="/login">Login</a>
                  <li>
                  <!-- <li><a class="shoppingcart" href="/gio-hang.html">Shopping Cart</a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div id="categorymenu">
      <nav class="subnav">
        <ul class="nav-pills categorymenu">       
        </ul>
      </nav>
    </div>
  </div>
</header>