<div id="maincontainer">
  <section id="product">
    <div class="container">
     <!--  breadcrumb --> 
      <ul class="breadcrumb">
        <li>
          <a href="#">Home</a>
          <span class="divider">/</span>
        </li>
        <li class="active"> Shopping Cart</li>
      </ul>       
      <h1 class="heading1"><span class="maintext"> Shopping Cart</span><span class="subtext"> All items in your  Shopping Cart</span></h1>
      <!-- Cart-->
      <div class="cart-info">
        <table class="table table-striped table-bordered">
          <tr>
            <th class="image">Image</th>
            <th class="name">Product Name</th>
            <th class="quantity">Số Lượng</th>
              <th class="total">Action</th>
            <th class="price">Giá</th>
            <th class="total">Tiền</th>
           
          </tr>
          <tr>
            <td class="image"><a href="#"><img title="product" alt="product" src="" height="50" width="50"></a></td>
            <td  class="name"><a href="">Beer</a></td>
            <td class="quantity"><input id="" type="text" size="1" value="" name="quantity[40]" class="span1">
             
             </td>
             <td class="total"> <a href="#"><img class="tooltip-test updateCart" id="" data-original-title="Update" src="img/update.png" alt=""></a>
              <a href="#"><img class="tooltip-test delCart" id="" data-original-title="Remove"  src="img/remove.png" alt=""></a></td>
    
            <td class="price">100 đ</td>
            <td class="total">124 đ</td>
             
          </tr>

        </table>
      </div>
      <div class="container">
      <div class="pull-right">
          <div class="span4 pull-right">
            <table class="table table-striped table-bordered ">
              
                <td><span class="extra bold totalamout">Total :</span></td>
                <td><span class="bold totalamout">20 đ</span></td>
              </tr>
            </table>
            <a href="/dat-hang.html" class="btn btn-orange pull-right">Đặt Hàng</a>
          </div>
        </div>
        </div>
    </div>
  </section>
</div>